# Linux
# -------------------------------------------------------------
*~
*.bak

# Rust
# -------------------------------------------------------------
target/
.bin/

# This repo
# -------------------------------------------------------------
tmp/
.idea/
docs/*
.claude/
!/docs/man
!/docs/site
.envrc
opencode.json
CLAUDE.md
ANNOTATIONS.txt
