# Linux
# -------------------------------------------------------------
*~
*.bak

# Rust
# -------------------------------------------------------------
target/
.bin/

# This repo
# -------------------------------------------------------------
.idea/
docs/*
!/docs/man
!/docs/md
tmp/
ANNOTATIONS.txt
