# Linux
# -------------------------------------------------------------
*~
*.bak

# Rust
# -------------------------------------------------------------
target/
.bin/

# This repo
# -------------------------------------------------------------
tmp/
.idea/
docs/*
!/docs/man
!/docs/site
ANNOTATIONS.txt
